<h1>Add Todo</h1>

<% if (isLogin) { %>
  <p>已登入</p><a href="/logout">Logout</a>
<% } else { %>
  <p>未登入</p><a href="/login">login</a>
<% } %>

<a href="/todos">All Todos</a>
<form method="post" action="/todos">
  <input type="text" name="content">
  <button type="submit">Add Todo</button>
</form>